*/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

logo{
    width: 40px;
    height: 50px;
}

img{
    width: 50%;
    height: 100%;
    float: right;
    
}
h1{
    padding: 2%;
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    animation: alternate;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    
}
p{
    padding: 2%;
    color: rgb(10, 10, 10);
}

a{
    padding: 5%;
}

nav{
    background-color: rgb(162, 173, 173);
    
}

#images{
    width
}
